<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <
       <style>
      #menu li{
          display:inline;
          text-decoration:none;
          margin-left: 5px;

      }
      #menu a{
          text-decoration: none;
      }

      </style>
    


      <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css.map">
      <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css.map">
   </head>
    <body>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6" >
                <div >BOARDING SCHOOL PROGRAM PURPOSE
                        At the IMG Academy boarding school in Bradenton, Florida, we are committed to a personalized, purpose-driven learning environment in which boarding school student-athletes are challenged to master a broad range of skills and competencies. Motivated by the belief that passion drives, drive focuses, and focus empowers, rigor and quality performance define our foundational approach to growth, both in the classroom and on the playing field for boarding school students. Equally important is our embedded emphasis on character development and social responsibility, which we adjudge to be a vital component in our quest to prepare boarding school student-athletes for the next step in their life’s journey.</div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
               <div > <img src="../public/img/1.jpg"></div>
                </div>
            </div>
                <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6" >
                        <div><img src="../public/img/2.jpg" ></div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                       <div>BOARDING SCHOOL PROGRAM PURPOSE
                            At the IMG Academy boarding school in Bradenton, Florida, we are committed to a personalized, purpose-driven learning environment in which boarding school student-athletes are challenged to master a broad range of skills and competencies. Motivated by the belief that passion drives, drive focuses, and focus empowers, rigor and quality performance define our foundational approach to growth, both in the classroom and on the playing field for boarding school students. Equally important is our embedded emphasis on character development and social responsibility, which we adjudge to be a vital component in our quest to prepare boarding school student-athletes for the next step in their life’s journey.</div>
                        </div>
            </div>

           




        <!-- <div id=menu>
            <ul>
              <a href=#1 > <li>ABOUT</li> </a>
               <a href=#2> <li>HOME</li></a>
               <a href=training.html> <li>TRAINING</li></a>
            </ul>
        </div>
        <div id=1 style="background-color:cyan ; height:200px ;width:200px ; display: inline-block;" >
           
        </div>
    <div id=2 style="background-color: blue; height:200px; width:200px; display: inline-block; ">
        </div> -->
    </body>
    
</html>